{% extends 'modelo.html' %}
{% load static %}

{% block title %}
    <title>Formulario- Excluir</title>
{% endblock %}

{% block content %}
    <div class='container bg- mt-5'>
        <h5 class='text-center'>Excluir Registro</h5>

        <p class='text-center lead'>O Registro a baixo sera excluido permanentemente</p>

        <hr>

        <form class='text-center' action='' method='POST'>
            {% csrf_token %}

            <p>
                Deseja excluir o registro: 
                <strong class='bg-danger p-1'>{{ object }} ?</strong>
            </p>

            {{ form.as_p }}
            <div>
            <button type='submit' class='btn btn-danger mt-2 mb-5'>
                Excluir
                <i class="fa fa-edit" aria-hidden="true"></i>
            </button>
            <a href="{% url 'home' %}" class="btn btn-primary mt-2 mb-5" title='Voltar Inicio'>Voltar
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
            </div>
        </form>
        
    </div>
{% endblock %}